.goals-list {
  display: flex;
  color: $black;
  list-style: none;
}

.goals-list__item {
  min-height: 80px;
}

.goals-list__numbers {
  font-family: $side-text;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  margin-right: 5px;
}

@media (max-width: $tablet-only) {
  .goals-list {
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
  }

  .goals-list__numbers {
    font-size: 60px;
  }
}
