.main-body {
  display: flex;
}

.main-body__sidebar {
  background-color: $green;
  width: 387px;
  min-height: 680px;
  padding-top: 14px;
  padding-left: 40px;
}

.main-body__content {
  padding-top: 14px;
  min-height: 500px;
  flex-grow: 1;
  padding-right: 40px;
  padding-left: 136px;
}
