.main-body {
  display: flex;
}

.main-body__sidebar {
  background-color: $green;
  width: 347px;
  min-height: 680px;
  padding-top: 14px;
  padding-left: 40px;
}

.main-body__content {
  padding-top: 14px;
  min-height: 500px;
  width: 813px;
}

@media (max-width: $tablet-only) {
  .main-body__sidebar {
    display: none;
  }

  .main-body__content {
    padding-top: 80px;
    min-height: 500px;
    width: 375px;
  }
}
