@font-face {
  font-family: "FavoritPro";
  src: url("../fonts/FavoritProBook.woff2") format("woff2"), url("../fonts/FavoritProBook.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "FavoritPro";
  src: url("../fonts/FavoritProMedium.woff2") format("woff2"), url("../fonts/FavoritProMedium.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("../fonts/WremenaRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("../fonts/WremenaLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("../fonts/WremenaBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
